.usercard{
  border: 1px solid;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 4px 4px 5px 1px grey;
  width: 400px;
  margin: 20px;
  padding: 5px 10px;
  float: left;
}