.bookingdetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.addbtn{
  width: 50%;
}
.bookingdetailscontainer{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}