.seatTypes{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  }
  .addbtn{
    width: 50%;
  }
  .seatTypecontainer{
    margin-bottom: 50px;
  }